<div class="containerLogin">
  <section>
    <h1>Login</h1>

    <form id="loginForm">
      <label>Email</label>
      <input name="email" />
      <label>Password</label>
      <input type="password" name="password" />
      <input type="submit" />
    </form>
    ¿No estas registrado?
    <a href="/register"><b>Registrate Aqui</b></a>
    <p>¿Olvidaste tu contraseña? <a href="/reset">Restaurala aquí</a></p>

    <a href="/api/users/github"><button>Ingresar con GitHub</button></a>
  </section>
</div>

<script src="/js/login.js"></script>