<div class="containerLogin">
  <section>
    <h1>Recuperación</h1>

    <form id="resetForm">
      <p>Ingrese la nueva contraseña</p>

      <label>Email</label>
      <input disabled name="email" class="form-control" value={{this.email}} />
      <label>Contraseña</label>
      <input name="password" type="password" />
      <p id="errorMessage"></p>

      <input name="token" value={{this.token}} type="hidden" />
      <div>
        <button type="submit">Cambiar Contraseña</button>
      </div>
    </form>

    <p>¿Ya tienes una cuenta? <a href="/">Ingresa aquí</a></p>
  </section>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/js/reset-user.js"></script>