<div class="containerLogin">
  <section>
    <h1>Recuperación</h1>

    <p>Ingrese su email para recuperar su contraseña</p>

    <form id="resetForm">
      <label>Email</label>
      <input name="email" />

      <button type="submit">Enviar Email</button>

    </form>

    <p>¿Ya tienes una cuenta? <a href="/">Ingresa aquí</a></p>
  </section>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/js/reset.js"></script>